@import url("https://fonts.bunny.net/css?family=noto-sans:300,300i,400,400i");
@import 'tailwindcss';
@plugin '@tailwindcss/typography';


@plugin "daisyui/theme" {
	name: "reallol";
	color-scheme: "light";
	--color-base-100: oklch(98% 0.002 47.839);
	--color-base-200: oklch(96% 0.006 47.839);
	--color-base-300: oklch(92% 0.006 47.839);
	--color-base-content: oklch(21% 0.034 264.665);
	--color-primary: oklch(58% 0.233 277.117);
	--color-primary-content: oklch(93% 0.034 272.788);
	--color-secondary: oklch(82% 0.189 84.429);
	--color-secondary-content: oklch(27% 0.077 45.635);
	--color-accent: oklch(86% 0.127 207.078);
	--color-accent-content: oklch(30% 0.056 229.695);
	--color-neutral: oklch(92% 0.003 48.717);
	--color-neutral-content: oklch(14% 0.004 49.25);
	--color-info: oklch(68% 0.169 237.323);
	--color-info-content: oklch(97% 0.013 236.62);
	--color-success: oklch(90% 0.093 164.15);
	--color-success-content: oklch(43% 0.095 166.913);
	--color-warning: oklch(70% 0.213 47.604);
	--color-warning-content: oklch(98% 0.016 73.684);
	--color-error: oklch(44% 0.177 26.899);
	--color-error-content: oklch(97% 0.013 17.38);
	--radius-selector: 0rem;
	--radius-field: 0rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1.5px;
	--depth: 1;
	--noise: 0;
}

@plugin "daisyui/theme" {
	name: "barelycookie";
	default: true;
	color-scheme: "dark";
	--color-base-100: oklch(21% 0.006 56.043);
	--color-base-200: oklch(26% 0.007 34.298);
	--color-base-300: oklch(37% 0.01 67.558);
	--color-base-content: oklch(92% 0.006 264.531);
	--color-primary: oklch(93.00% 0.10 175.07);
	--color-primary-content: oklch(39% 0.095 152.535);
	--color-secondary: oklch(70% 0.183 293.541);
	--color-secondary-content: oklch(28% 0.141 291.089);
	--color-accent: oklch(94% 0.129 101.54);
	--color-accent-content: oklch(28% 0.066 53.813);
	--color-neutral: oklch(21% 0.006 285.885);
	--color-neutral-content: oklch(92% 0.004 286.32);
	--color-info: oklch(78% 0.154 211.53);
	--color-info-content: oklch(30% 0.056 229.695);
	--color-success: oklch(84% 0.143 164.978);
	--color-success-content: oklch(26% 0.051 172.552);
	--color-warning: oklch(82% 0.189 84.429);
	--color-warning-content: oklch(27% 0.077 45.635);
	--color-error: oklch(64% 0.246 16.439);
	--color-error-content: oklch(96% 0.015 12.422);
	--radius-selector: 0rem;
	--radius-field: 0rem;
	--radius-box: 0rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}

@plugin "daisyui" {
	logs: true;
	root: ":root";
	themes: reallol;
}

@theme {
	--spacing-main: 3.5rem;
	--spacing-section: 2.3rem;

	--font-noto: 'Noto Sans', sans-serif;

	--font-sans: 'AT Name Sans Variable', 'Noto Sans', sans-serif;
	--font-serif: 'Roslindale Text', serif;
	--font-display: 'Roslindale Variable', sans-serif;

	--color-subtle: color-mix(in oklch, var(--color-base-content), transparent 50%);
	--color-muted: color-mix(in oklch, var(--color-base-content), transparent 80%);
}

@custom-variant dark (&:where([data-theme=barelycookie], [data-theme=barelycookie] *));
